<div id="formulario-eliminar" class="row">

  <form [formGroup]="fGroup" class="col s12">
    <div class="input-field col s12">
      <input formControlName="identificacion" id="identificacion" type="text" class="validate" [disabled]="modoEdicion">
      <label for="identificacion">Identificación</label>
    </div>
    <div class="input-field col s6">
      <input formControlName="nombres" id="nombres" type="text" class="validate" [disabled]="modoEdicion">
      <label for="nombres">Nombre Completo</label>
    </div>
    <div class="input-field col s6">
      <input formControlName="apellidos" id="apellidos" type="text" class="validate" [disabled]="modoEdicion">
      <label for="apellidos">Apellidos</label>
    </div>
  
    <div class="row">
      <div class="input-field col s6">
        <select formControlName="perfil" id="perfil" [disabled]="modoEdicion">
          <option value="" disabled selected>Seleccione su Perfil</option>
          <option value="CLIENTE">CLIENTE</option>
          <option value="ADMINISTRADOR">ADMINISTRADOR</option>
          <option value="AUXILIAR">AUXILIAR</option>
        </select>
      </div>
      <div class="input-field col s6">
        <input formControlName="password" id="password" [type]="passwordFieldType" class="validate" [disabled]="modoEdicion">
        <label for="password">Contraseña
        </label>
      </div>
    </div>
 
    <br><br>
    <div class="row">
      <div class="input-field col s12">
        <button (click)="confirmarEliminarUsuario()" class="btn waves-effect waves-light col s12">Eliminar Usuario
          <i class="material-icons right"></i>
        </button>
      </div>      
    </div>
    
  </form>
</div>

