<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Miniproyecto</h5>
        <p class="grey-text text-lighten-4">Proyecto en angular para realizar acciones CRUD para usuarios.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Enlaces de Documentacion</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://angular.io/">Documentacion Angular</a></li>
          <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Documentacion Materialize</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Universidad de Caldas © 2023 | 
      <a href="#">
        <!-- Facebook -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-facebook" viewBox="0 0 16 16">
            <!-- SVG Path -->
        </svg>
      </a>
      <!-- Add more social media links here -->
    </div>
  </div>
