  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de..</h6>
          <p class="text-justify">Crud Usuarios <i>FRAMEWORK ANGULAR </i> 
          Miniproyecto final, Ivan tobar ralizacion de un crud en angular para las acciones listar,eliminar,actualizar y crear usuarios. </p>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 Universidad de caldas
       <a href="">Inicio Listar Usuario</a>.
          </p>
        </div>
      </div>
    </div>
</footer>